* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

header#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    background: #0169a6;
}

header#main-header div#texto-header {
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    padding-left: 80px;
    padding-top: 100px;
}

header#main-header div#logo-header {
    padding-top: 226px;
}

section#main-section div#texto-bemvindo {
    font-size: 60px;
    font-weight: bold;
    color: #0169a6;
    padding-top: 20px;
    padding-left: 80px;
}

section#text-section p:first-child {
    font-size: 16px;
    padding-top: 40px;
    padding-left: 80px;
    color: #0169a6;
}

section#text-section p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 80px;
    color: #0169a6;
}

section#boxes div#box-1 {
    display: flex;
}

/* outras sessões box1*/

section#boxes div#box-2 {
    display: flex;
}

/* outras sessões box2*/

section#links ul {
    display: flex;
}

section#logo-bottom img#img-bottom {
    width: 200;
    height: 50;
}
